{% assign google_fonts = site.google_fonts %}
{% assign font_heading = site.font_heading %}
{% assign font         = site.font         %}

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-SK8RN8FQP6"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-SK8RN8FQP6');
</script>

{% include        head/meta.html %}
{% include_cached head/meta-static.html %}

{% include        head/links.html lang=page.lang %}
{% include_cached head/links-static.html %}

{% include_cached head/scripts.html %}

{% include_cached head/styles.html layout=page.layout color=color theme_color=theme_color %}

{% include my-head.html %}
